// Style for the contact form written by Anne

// First part of the form is the radio buttons for Nature de votre projet et Avancement de votre projet
.form-first-part {
  label{
    margin-right: 15px;
  }
}


.form-labels {
  font-size: 20px;
  color: #184f8d;
  font-weight: 600;
}
