.creditimmo {
  display: flex;
  justify-content: center;
  img {
  width: 500px;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 40px;
  }
}

.iconecredit {
  color:#184F8D;
  font-size:40px;
  padding-right: 15px;
}
