.etudefinancement {
  display: flex;
  justify-content: center;
  img {
  width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 25px;
  }
}

.demarche {
  display: flex;
  justify-content: center;
  img {
  width: 350px;
  align-items: center;
  //margin-bottom: 25px;
  }
}

.puce {
  font-size:20px;
}
