.page-title {
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.title-color {
  color:#184F8D;
  text-align: center;
  padding-bottom: 40px;
}

.sstitle {
  font-size:10px;
  padding-top: 15px;
}

p {
  font-size:20px;
  //word-spacing: 0.1em;
  //padding-right: 10px;
}
