.page-title {
  color: #2e626a;
  font-weight: bold;
  font-size: 70px;
}

.title-color {
  color:#FE5F55;
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-size:20px;
  //padding-right: 10px;
}

.img-home {
  background-image: asset-url("home-signature.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  color: white;
  //font-size: 24px;
  //font-weight: bold;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card {
  padding: 50px;
  margin-bottom: 10px;
  font-size: 5rem;
  align-items:center;
  height: 300px;
}

.card p {
  font-size:16px;
}
.card img {
    height: 100px;
    width: 100px;
}

.card-cv {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-fdlg {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
}

.card-fdlg > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-fdlg h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-fdlg p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-fdlg .card-fdlg-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-fdlg-infos .card-fdlg-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
