.page-title {
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.title-color {
  color:#184F8D;
  text-align: center;
  padding-bottom: 40px;
}

.sstitle {
  font-size:10px;
  padding-top: 15px;
}

p {
  font-size:20px;
  //word-spacing: 0.1em;
  //padding-right: 10px;
}

.simulateur {
  background-color: #F4F4F4;
}

.taux {
  display: flex;
  justify-content: center;
  img {
  width: 1000px;
  //height: 300px;
  align-items: center;
  }
}
