.page-title {
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.title-color {
  color:#184F8D;
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-size:20px;
  //padding-right: 10px;
}

.img-home {
  //background-image: asset-url("avatar-franck.png");
  //background-size: cover;
  //background-position: center;
  //height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //color: white;
  //font-size: 24px;
  //font-weight: bold;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  //border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
