<div class="footer">
  <div class="footer-links">
    <h5 class="title-social">Follow us</h5>
    <div>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <p>Mentions légales</p>
  </div>
</div>
