<div class="footer">
  <div class="footer-links">
    <h5 class="title-social"></h5>
    <div>
      <a target="_blank" href="https://www.linkedin.com/in/franck-de-la-gournerie-9b966110b/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <a href="mentionslegales">Mentions légales</a>

  </div>
</div>
