  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path do %>
      <%= image_tag "logo-fdlg.png", :class => "navbar-logo" %>
    <% end %>
      <a href="tel:06 21 15 45 33">06 21 15 45 33</a>
</div>
