  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path do %>
      <%= image_tag "logo-courtier-05.png", :class => "navbar-logo" %>
    <% end %>
    <%= link_to "Nos Actualités", "actualites", class: "lien-navbar" %>
    <p class="lien-navbar"><a href="tel:06 21 15 45 33">06 21 15 45 33</a></p>

</div>
