<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <%= image_tag "logo-courtier-05.png", :class => "navbar-logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-lewagon" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item lien-navbar"> <%= link_to "Nos actualités", "actualites" %> </li> -->
      <!-- <li class="nav-item lien-navbar"> <%= link_to "Simulez votre crédit", "formulaire" %></li> -->
      <li class="nav-item lien-navbar"> <a href="tel:06 21 15 45 33">06 21 15 45 33</a></li>
    </ul>
  </div>
</div>
