<div class="banner">
    <div class="container">
      <h1>ASSURANCE DE PRÊT<h1>
    </div>
  </div>

  <div class="container pt-5">
    <h3 class="title-color">Assurance de prêt</h3>
    <div class="card-info">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="assurance"><%= image_tag "assurancePret-FDLGcourtier44"%></div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <p class="text-justify pb-3 mb-1">L’assurance de prêt permet de couvrir d’éventuels risques de défaut de paiement en cas de décès, d’invalidité, d’incapacité de travail ou de perte d’emploi.
          <br>C’est un élément essentiel de votre prêt puisqu’il sécurise votre emprunt en cas d’accident de la vie.</br>
          <br>La banque qui accompagne votre projet exige une assurance couvrant ces risques. Son tarif peut fortement impacter le coût de votre crédit selon plusieurs facteurs : âge, durée du prêt, état de santé, nombre d’emprunteurs, capital restant à rembourser.</br>
          <br>Bien négocier votre assurance emprunteur, notamment par le biais de votre courtier immobilier, vous permet de réaliser des économies importantes tout en vous assurant des garanties efficaces.</br></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
      <h3 class="title-color">L’assurance de prêt immobilier est-elle obligatoire ?</h3>
      <p>En principe, aucune loi ne l’impose ! L’assurance de prêt immobilier n’est donc pas, en soi, une obligation. Mais dans les faits, tous les établissements prêteurs vous demanderont de souscrire une assurance emprunteur avant de vous accorder un prêt immobilier.</p>
      <h3 class="title-color pt-5">Quelles sont les garanties d’une assurance emprunteur pour un prêt immobilier ?</h3>
      <h4 class="pt-3"><U>Les garanties décès (DC)</U></h4>
      <p>L’assurance décès entre en jeu en cas de décès de l’emprunteur. Il s’agit, le plus souvent, de la garantie minimale de tout contrat d’assurance emprunteur, et de l’élément qui revient en tête des réponses lorsqu’on se demande ce que couvre l’assurance prêt immobilier. En cas de décès, c’est l’assureur qui va se substituer au défunt pour rembourser le crédit restant, en lieu et place de ses héritiers légaux. Un moyen de protéger vos proches sans leur laisser la charge de rembourser votre crédit maison !</p>

      <h4 class="pt-5"><U>Les garanties Invalidité</U></h4>
      <p>L’assurance invalidité et incapacité se déclenche lorsque l’assuré souffre d’un problème de santé, d’une maladie ou qu’il est victime d’un accident, dont les conséquences l’empêchent d’exercer son activité professionnelle et donc de percevoir des revenus. L’assureur prendra alors en charge les remboursements au terme d’un délai de carence généralement équivalent à 3 mois.
      <br>Il existe différentes garanties invalidité :</br>

       <br><strong>La garantie Perte totale et irréversible d’autonomie (PTIA)</strong> : l’assuré se retrouve dans l’incapacité définitive d’exercer toute activité professionnelle. Il est par ailleurs dépendant de la présence d’une tierce personne pour réaliser les actes de la vie quotidienne.</br>

      <br><strong>La garantie Invalidité permanente et totale (IPT)</strong> : physique ou mentale, l’invalidité doit être constatée avant l’âge de 65 ans, et empêcher l’exercice d’une activité rémunératrice.</br>

      <br><strong>La garantie Invalidité permanente et partielle (IPP)</strong> : l’assuré n’est plus en capacité d’exercer l’activité professionnelle renseignée dans le contrat d’assurance emprunteur, mais demeure apte à l’exercice d’une autre activité professionnelle.</br>

      <br><strong>La garantie Invalidité professionnelle (IP PRO)</strong> : elle concerne les professionnels des activités médicales, paramédicales et vétérinaires, qui se retrouvent dans l’incapacité d’exercer leur métier.</br></p>
      <h4 class="pt-5"><U>Les garanties Perte d’emploi</U></h4>
      <p>L’assurance perte d’emploi fonctionne de deux manières différentes. Soit elle permet à l’établissement prêteur de décaler le remboursement du crédit dans le temps en cas de perte d’emploi de l’emprunteur. Dans ce cas, c’est la compagnie d’assurance qui prendra en charge les intérêts de retard. Soit l’assureur se substitue à l’assuré pour le remboursement des mensualités. Néanmoins, ce remboursement sera limité dans le temps et ne pourra être renouvelé pour la même raison plus de deux fois (en général 2 périodes de 18 mois maximum). Enfin, un délai de franchise s’appliquera également.</p>

  </div>

   <div class="container pt-5 pb-5">
      <h3 class="title-color">Zone d'intervention</h3>
      <div class="card-product">
        <div class="row">
          <div class="col-12 col-lg-5 map">
            <%= image_tag "fdlg-courtier-pays-retz.png" %>
          </div>
          <div class="col-12 col-lg-7 d-flex align-items-center">
            <div class="card-product-infos">

              <p><i class="fas fa-map-marked-alt"></i>  Secteur : La Marne, La Plaine sur Mer, Le Clion, Le Pellerin, Les Moutiers-en-Retz, Machecoul, Paintboeuf, Paulx, Pornic, Port-Saint-Père, Préfailles, Rouans, Arthon-en-Retz, Bouaye, Bourgneuf-en-Retz, Brain, Chauvé, Cheix-en-Retz, Chéméré, Corsept, Fresney-en-Retz, Frossey, La Bernerie-en-Retz, La Chevroliere, La Limouzinière, Saint-Brevin-les-Pins, Saint-Colomban, Saint-Etienne-de-Mer-Morte, Saint-Hilaire-de-Chaleons, Saint-Jean-de-Boiseau, Saint-Léger-les-Vignes, Saint-Lumine-de-Coutais, Saint-Même-le-Tenue, Saint-Michèle-Chef-Chef, Saint-Phibert-de-Grand-Lieu, Sainte-Pazanne, Saint-Père-en-Retz, Saint-Viaud et Vue.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

