<div class="banner">
    <div class="container">
      <h1>Crédit immobilier<h1>
      <h2> BLABLBALBLABLABLBALBALBA</h2>
      <!--<div class="pt-5">
        <a target="_blank" class="btn btn-home" href="https://docs.google.com/forms/d/e/1FAIpQLSfTZfB5fnFXt93wxHlKUeKm5RUDSXOQNGEer-aoy7r7savzgg/viewform">Demande de prêt</a>
      </div></li> -->
    </div>
  </div>

