  <div class="banner">
    <div class="container">
      <h1>Vous avez un projet immobilier ?</h1>
      <h3> Faites appel à Franck de La Gournerie, votre courtier immobilier du Pays de Retz</h3>
      <div class="pt-5">
      <a class="btn btn-home" href="#">Prendre un rendez-vous</a>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <h2 class="title-color">Faites confiance à Artemis Courtage pour vous trouver une solution sur mesure et vous aider à concrétiser tous vos projets !</h2>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div>
          <p class="text-justify">Du financement immobilier au financement professionnel, en passant par la restructuration de vos crédits et l'assurance de prêt, nous vous accompagons dans toutes vos démarches. Nous vous proposons une étude personnalisée pour vous apporter une solution sur mesure. Nous sommes à votre écoute afin de vous conseiller à chaque étape clé de la constitution de votre patrimoine immobilier.</p>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="img-home"></div>
      </div>

    </div>

    <div class="container text-center pt-5">
      <h2 class="title-color">Les services de Artemis Courtage Pays de Retz</h2>
      <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Crédit immobilier</h5>
                <%= image_tag"courtage1" %>
                <p>Artemis Courtage vous donne accès à une offre bancaire complète et vous trouve une solution financière sur-mesure pour votre projet.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Rachat de crédit</h5>
                <%= image_tag"courtage2" %>
                <p>Artemis Courtage vous aide à diminuer vos mensualités en vous proposant de regrouper vos différents crédits (immobilier, à la consommation...) en un seul afin de ne rembourser qu'une seule mensualité allégée*.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Assurance de prêt</h5>
                <%= image_tag "courtage3"%>
                <p>Artemis Courtage sécurise vos projets en vous proposant des solutions adaptées à votre profil et à vos besoins pour vous faire bénéficier des meilleurs garanties pour votre projet immobilier.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Crédit professionnel</h5>
                <%= image_tag "courtage4"%>
                <p>Artemis Courtage vous aide à réaliser tous vos projets et vous accompagne dans la recherche de votre financements, que vous soyez dirigeant de TPE/PME, profession libérale, franchisé ou artisan commerçant.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
