<div class="container">
  <h3 class="title-color pt-5">Mentions légales</h3>
  <p>Franck DE LA GOURNERIE, mandataire d’intermédiaire en opération de banque immatriculé à l’Orias sous le numéro 19004837 et ayant reçu mandat de SARL AJN COURTAGE, agence franchisée indépendante, membre du réseau VOUSFINANCER, au capital de 308 850€-immatriculé au RC de Nantes sous le n° 527 489 827
  <br>Adresse : 38, Jules Verne 44700 ORVAULT-Tél : 02 40 54 11 49-Mail : nantes@vousfinancer.com</br>
  <br>Siège social : 7, rue Lafayette 44000 NANTES</br>
  <br>Courtier en crédit immobilier, courtier et mandataire d’assurance enregistré à l’ORIAS(www.orias.fr) sous le n° 11062688 et mandataire pour le regroupement de crédits de CFC (mandataire non exclusif n°Orias : 07006221)</br>
  <br>Responsabilité Civile Professionnelle conforme aux articles L.512-6 du code des assurances et L519-3-4 du Code monétaire et financier</br>

  <br>Conformément aux recommandations RGPD, vos données sont utilisées pour le traitement de votre dossier et sont conservées en toute sécurité. Nous les supprimerons sur simple demande de votre part.</br>

  <br>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager. Loi MURCEF : Article L 321-2 de la loi n°2001-1168 du 11 Décembre 2001 : " Aucun versement, de quelque nature que ce soit, ne peut être exigé d'un particulier, avant l'obtention d'un ou plusieurs prêts d'argent ". La diminution du montant des mensualités entraine l’allongement de la durée de remboursement et majore le coût total du crédit. Autorité de Contrôle Prudentiel et de Résolution (ACPR), 61 rue Taitbout 75436 Paris Cedex 09 – tél : 01.49.95.40.00 – Site internet : www.acp.banque-france.fr</br>
  <br>Conditions de rémunération versées à l'agence, en tant que courtier indépendant, par les établissements de crédit partenaires au titre de cette intermédiation :</br>

  <br><strong>AXA</strong>
    12 rue Claire Lacombe, 60745 SAINT MAXIMIN</br>

  <br><strong>AXA</strong>
    40, avenue René Cassagne, CENON</br>

  <br><strong>BANQUE POPULAIRE GRAND OUEST</strong>
    15, boulevard de la Boutière - CS 2685835768, SAINT GREGOIRE CEDEX</br>

  <br><strong>BANQUE TARNAUD</strong>
    2-6 , rue Turgot, LIMOGES
    BNP PARIBAS
    8, rue Lafayette NANTES</br>

  <br><strong>BNPPF</strong>
    1, boulevard Haussmann, PARIS</br>

  <br><strong>BPE</strong>
    62, rue du Louvre, PARIS
    CAISSE D'EPARGNE
    2, place Graslin NANTES</br>

  <br><strong>CIC OUEST</strong>
    4, rue Voltaire NANTES</br>

  <br><strong>CREDIT AGRICOLE ANJOU</strong>
    25, boulevard Gustave Richard, CHOLLET</br>

  <br><strong>CREDIT AGRICOLE ATLANTIQUE VENDEE</strong>
    Route de Paris, NANTES</br>

  <br><strong>CREDIT MUTUEL ANJOU MAINE</strong>
    40, rue Prémartine, LE MANS</br>

  <br><strong>CREDIT MUTUEL DE BRETAGNE</strong>
    30, boulevard de la Tour d'Auvergne, RENNES</br>

  <br><strong>CREDIT MUTUEL OCEAN</strong>
    34, rue Leandre Merlet LA ROCHE SUR YON</br>

  <br><strong>CREDIT MUTUEL</strong>
    Boulevard des Antons, ORVAULT</br>

  <br><strong>HELLO BANK</strong>
    163, boulevard Mc Donald, PARIS</br>

  <br><strong>HSBC</strong>
    108, avenue des Champs Elysées, PARIS</br>

  <br><strong>ING Direct</strong>
    40, avenue des Terroirs de France, PARIS</br>

  <br><strong>LA BANQUE POSTALE</strong>
    115, rue de Sèvres, PARIS</br>

  <br><strong>LCL</strong>
    18, rue dela République, LYON</br>

  <br><strong>SOCIETE GENERALE</strong>
    29, boulevard Haussmann, PARIS</br>

  <br>Conformément à la législation en vigueur, nous vous informons qu'au cours de l'année 2019, notre agence n'a pas enregistré une part supérieure au tiers de son chiffre d'affaires avec un établissement financier ou bancaire.</br>

  </p>
</div>

