<div class="container">
  <h3 class="title-color">mentions légales</h3>
  <p>Franck DE LA GOURNERIE, mandataire d’intermédiaire en opération de banque immatriculé à l’Orias sous le numéro 19004837 et ayant reçu mandat de SARL AJN COURTAGE, agence franchisée indépendante, membre du réseau VOUSFINANCER, au capital de 308 850€-immatriculé au RC de Nantes sous le n° 527 489 827
  Adresse : 38, Jules Verne 44700 ORVAULT-Tél : 02 40 54 11 49-Mail : nantes@vousfinancer.com
  Siège social : 7, rue Lafayette 44000 NANTES
  Courtier en crédit immobilier, courtier et mandataire d’assurance enregistré à l’ORIAS(www.orias.fr) sous le n° 11062688 et mandataire pour le regroupement de crédits de CFC (mandataire non exclusif n°Orias : 07006221)
  Responsabilité Civile Professionnelle conforme aux articles L.512-6 du code des assurances et L519-3-4 du Code monétaire et financier


  Conditions de rémunération versées à l'agence, en tant que courtier indépendant, par les établissements de crédit partenaires au titre de cette intermédiation :

  AXA
  12 rue Claire Lacombe, 60745 SAINT MAXIMIN

  AXA
  40, avenue René Cassagne, CENON

  BANQUE POPULAIRE GRAND OUEST
  15, boulevard de la Boutière - CS 2685835768, SAINT GREGOIRE CEDEX

  BANQUE TARNAUD
  2-6 , rue Turgot, LIMOGES
  BNP PARIBAS
  8, rue Lafayette NANTES

  BNPPF
  1, boulevard Haussmann, PARIS

  BPE
  62, rue du Louvre, PARIS
  CAISSE D'EPARGNE
  2, place Graslin NANTES

  CIC OUEST
  4, rue Voltaire NANTES

  CREDIT AGRICOLE ANJOU
  25, boulevard Gustave Richard, CHOLLET

  CREDIT AGRICOLE ATLANTIQUE VENDEE
  Route de Paris, NANTES

  CREDIT MUTUEL ANJOU MAINE
  40, rue Prémartine, LE MANS

  CREDIT MUTUEL DE BRETAGNE
  30, boulevard de la Tour d'Auvergne, RENNES

  CREDIT MUTUEL OCEAN
  34, rue Leandre Merlet LA ROCHE SUR YON

  CREDIT MUTUEL
  Boulevard des Antons, ORVAULT

  HELLO BANK
  163, boulevard Mc Donald, PARIS
  HSBC
  108, avenue des Champs Elysées, PARIS
  ING Direct
  40, avenue des Terroirs de France, PARIS

  LA BANQUE POSTALE
  115, rue de Sèvres, PARIS
  LCL
  18, rue dela République, LYON

  SOCIETE GENERALE
  29, boulevard Haussmann, PARIS

  Conformément à la législation en vigueur, nous vous informons qu'au cours de l'année 2019, notre agence n'a pas enregistré une part supérieure au tiers de son chiffre d'affaires avec un établissement financier ou bancaire.

  </p>
</div>
