<div class="container">
  <h3 class="title-color pt-5">Mentions légales</h3>
  <p>Franck DE LA GOURNERIE, mandataire d’intermédiaire en opération de banque immatriculé à l’Orias sous le numéro 19004837 et ayant reçu mandat de CREDICIMMO dénommé ci-dessous par son nom commercial CREDICIM, SARL au capital de 4 200 € dont le siège social sise 60 bis, rue Aristide Briand 44400 Rezé – RCS Nantes N° 484 415 880, téléphone 02 40 26 35 77.
  <br>Sous le contrôle de l’ACPR, 4 Place de Budapest CS 92459 75436 Paris Cedex 09 (www.acpr.banque-france.fr). CREDICIM a souscrit une assurance responsabilité civile professionnelle auprès de MS AMLIN 58 bis rue La Boétie 75008 PARIS n°2008PCA088. Cette assurance couvre les sinistres survenus dans le monde entier.</br>
  <br>CREDICIM est immatriculé au registre de l’ORIAS sous le n°13 001 077 (<a href="www.mediateur-apic.com">www.orias.fr</a>) en tant que Courtier en opérations de banque et services de paiement (crédits immobiliers et crédits professionnels), Mandataire d’intermédiaire en opérations de banque et en services de paiement (crédits professionnels) et Mandataire non exclusif en opérations de banque et en services de paiement (crédits à la consommation). CREDICIM est soumis au Code monétaire et financier en tant qu’intermédiaire en opérations de banque et services de paiement.</br>
  <br>Conformément à la législation, « aucun versement, de quelque nature que ce soit, ne peut être exigé d’un particulier, avant l’obtention d’un ou plusieurs prêts d’argent« , article L. 321-2 du Code de la consommation.)</br>
  <br>Jusqu’à l’acceptation de l’offre par l’emprunteur, aucun versement, sous quelque forme que ce soit, ne peut, au titre de l’opération en cause, être fait par le prêteur à l’emprunteur ou pour le compte de celui-ci, ni par l’emprunteur au prêteur. Jusqu’à cette acceptation, l’emprunteur ne peut, au même titre, faire aucun dépôt, souscrire ou avaliser aucun effet de commerce, ni signer aucun chèque. Si une autorisation de prélèvement sur compte bancaire ou postal est signée par l’emprunteur, sa validité et sa prise d’effet sont subordonnés à celle du contrat de crédit.</br>

  <br>Vous êtes ainsi protégé et vous conservez la liberté de changer d’avis quand vous le souhaitez. Vous choisissez le prêt qui vous convient le mieux pour votre projet immobilier..</br>

  <br>Conformément à l’article R519-30 du Code monétaire et financier, CREDICIM vous informe qu’elle perçoit du partenaire bancaire, au titre de l’intermédiation pour le crédit immobilier, une rémunération correspondant à 1,00% maximum de la somme financée et pouvant être soumise à un plafond.</br>

  <h4>Réclamations</h4>

  <p><br><strong>Qu’est-ce qu’une réclamation </strong></br>
  <p><br>Une réclamation est une déclaration par laquelle vous manifestez votre mécontentement envers notre société, sur un ou des sujets clairement identifiés, dans l’application de la convention d’intermédiation></br></p>

  <p><br>Conformément à la législation en vigueur, nous vous informons qu'au cours de l'année 2019, notre agence n'a pas enregistré une part supérieure au tiers de son chiffre d'affaires avec un établissement financier ou bancaire.</br></p>

  <p><br><strong>Comment faire une réclamation ?</strong></br></p>
  <p><br>La réclamation prend obligatoirement la forme d’un écrit :</br></p>
  <ul>
    <li>Adressé par <strong>voie postale</strong> à l’adresse : CREDICIM Service de traitement des réclamations 60 bis, rue Aristide Briand 44400 REZE.</li>
    <li>ou en utilisant l’adresse mail <a href="mailto:reclamation@credicim.fr">reclamation@credicim.fr</a></li>
  </ul>
  <p><br><strong>Comment est traitée votre réclamation ?</strong></br></p>
  <p><br>Nous nous engageons à accuser réception de votre réclamation dans un délai maximum de 10 jours ouvrables à compter de sa réception. Nous nous engageons à vous apporter une réponse (positive ou négative) dans un délai de 2 mois à compter de la réception de la totalité des éléments de votre réclamation.</br></p>

  <p><br>Si vous n’êtes pas satisfait de notre réponse et si vous êtes un particulier, vous pouvez saisir le médiateur de l’APIC via :</br></p>
  <ul>
    <li>le site <a href="www.mediateur-apic.com">www.mediateur-apic.com</a></li>
    <li>ou à l’adresse suivante : Médiateur APIC – 4 Quater rue de l’Ermitage – 78 000 VERSAILLES</li>
  </ul>

  <p><br>Vous pouvez consulter la Charte de la médiation sur le site internet www.mediateur-apic.com, rubrique « Contact et liens ».</br></p>

  <h4 class="pt-5">Politique de données personnelles</h4>

  <p><br>Au cœur de notre métier, pour rechercher pour vous les solutions pertinentes parmi une multitude d’offres disponibles sur le marché, se situent les données que vous nous confiez pour étudier vos projets et votre situation.</br></p>

  <p><br>Par exemple, nous vous présentons des taux de crédit immobiliers en cohérence avec votre profil d’emprunteur, votre région ou votre situation financière. En matière d’assurance de prêt immobilier, les devis affichés vont tenir compte de votre souhait de garanties ou de votre âge. CREDICIM attache la plus grande importance à la protection des données personnelles de ses Utilisateurs et Clients, sur ses sites internet.</br></p>

  <p><br><strong>Objet de la présente politique</strong></br>
  <p><br>La présente Politique de données personnelles décrit quels types de données personnelles CREDICIM et ses éventuels sous-traitants et partenaires peuvent être amenés à traiter.</br></p>

  <p><br>CREDICIM est engagé dans une démarche continue de protection des données de ses utilisateurs, en conformité avec la Loi Informatique et Libertés du 6 janvier 1978 modifiée (ci-après « LIL ») et le Règlement UE (2016/679) Général sur la Protection des Données du 27 avril 2016 (ci-après « RGPD »).</br></p>

  <p><br>Dans le cadre de l’exploitation de son site internet, CREDICIM collecte des données vous concernant. Ces données sont traitées conformément aux finalités prévues lors de la collecte, certaines informations vous concernant étant obligatoires et d’autres facultatives.</br></p>

  <p><br>CREDICIM est destinataire de ces données personnelles mais peut être amené à les transmettre à des tiers tels que des partenaires commerciaux, en fonction des consentements recueillis. CREDICIM pourra vous faire parvenir de façon régulière des messages électroniques d’informations générales sur des produits analogues à votre demande ou des messages électroniques personnalisés, en fonction des informations saisies sur notre site.</br></p>

  <p><br>Pour répondre à ses obligations légales et réglementaires, CREDICIM met en œuvre des traitements de surveillance ayant pour finalité la lutte contre le blanchiment de capitaux et le financement du terrorisme ainsi que l’application des sanctions financières. Ces traitements sont conformes à l’autorisation unique AU003 publiée par la Commission nationale de l’informatique et des libertés auprès de laquelle ils ont été déclarés.</br></p>

  <p><br><strong>L’utilisation de vos données</strong></br></p>

  <p><br>Les traitements reposent sur le consentement des personnes concernées par un mandat signé avec CREDICIM. Les données personnelles sont principalement traitées pour :</br></p>

  <ul>
    <li>Assurer la meilleure qualité des services de CREDICIM et la présentation des offres et fournir à ses Utilisateurs la meilleure analyse de leur profil ; vous envoyer un email ou un SMS de confirmation de votre offre sur certains métiers, afin que vous en ayez une trace et puissiez facilement retrouver l’analyse ou l’information dans le futur ; faire le suivi et l’analyse des offres présentées, et la mise à jour régulière de ces analyses par exemple dans le cadre de mises à jour des prix des offres des partenaires, consultables soit dans votre espace Client, soit en pouvant recevoir des mises à jour par email ;</li>
    <li>Réaliser la mise en relation avec un conseiller CREDICIM ou avec un mandataire du réseau CREDICIM ; constituer un fichier client pour l’envoi par ces partenaires de propositions commerciales ; gérer votre compte dans le cadre de difficultés techniques, questions sur des produits ou demandes au service client ;</li>
    <li>Collecter et gérer les candidatures à un recrutement pour devenir mandataire ; prévenir et lutter contre la fraude informatique, le blanchiment des capitaux et le financement du terrorisme.</li>
  </ul>

  <p><br><strong>Type de données traitées</strong></br></p>

  <p><br>En particulier, CREDICIM est susceptible de collecter auprès de vous les données suivantes :</br></p>

  <ul>
    <li>Des données d’Identité, comme par exemple le nom, le prénom, l’adresse postale, le numéro de téléphone (fixe ou mobile), l’adresse de courrier électronique, l’adresse postale, la date et le lieu de naissance.</li>
    <li>Des données relatives à votre situation financière, comme par exemple vos crédits en cours, vos charges, vos revenus, votre banque actuelle.</li>
    <li>Des données relatives à votre patrimoine, comme par exemple vos biens immobiliers déjà détenus.</li>
    <li>Des données relatives aux inscriptions aux newsletters comme par exemple le nom, le prénom, l’adresse de courrier électronique.</li>
    <li>Des données de statistiques de fréquentation comme par exemple l’adresse IP, les cookies, les pages consultées par l’utilisateur, la date et l’heure de la consultation.</li>
  </ul>

  <p><br>Le caractère obligatoire ou facultatif des données est indiqué sur les formulaires de collecte. Les champs facultatifs ont pour objectif de mieux vous connaître et ainsi mieux répondre à votre demande. Le défaut de réponse dans l’un des champs obligatoires entraîne l’impossibilité pour CREDICIM de traiter votre demande.</br></p>

  <p><br>Notamment, les établissements financiers partenaires (banques, compagnies d’assurance, établissements de crédits, etc.) de CREDICIM, consultables dans cette <a href="https://www.credicim.com/">rubrique</a>, ont besoin de ces renseignements pour pouvoir proposer aux utilisateurs des solutions pertinentes et adaptées. Sans ces éléments, votre dossier serait incomplet et donc rejeté par les établissements financiers partenaires. La collecte de toutes ces informations a pour but de mieux répondre aux attentes des utilisateurs et de fournir les services les plus adaptés à leur profil.</br></p>

  <p><br>En tout état de cause, CREDICIM s’engage à traiter l’ensemble des données collectées de manière conforme aux réglementations en vigueur et notamment du Règlement n°2016/679 pré-cité.</br></p>

  <p><br>Le Site CREDICIM s’adresse à des personnes majeures capables de contracter des obligations conformément à la législation du pays dans lequel se trouve l’Utilisateur. L’Utilisateur mineur de moins de 16 ans ou incapable doit obtenir le consentement préalable de son responsable légal préalablement à la saisie de ses données sur le Site et les Applications. Les titulaires de l’autorité parentale pourront demander à recevoir les informations relatives à leur enfant et en demander la suppression.</br></p>

  <p><br><strong>Destination des données collectées</strong></br></p>

  <p><br>Les données à caractère personnel collectées sur ce site sont réservées à CREDICIM et, le cas échéant, aux organismes officiels et aux autorités administratives ou judiciaires.</br></p>

  <p><br>Les données pourront, avec le consentement préalable de l’Utilisateur être transmises aux partenaires bancaires et commerciaux de CREDICIM. Cet accord peut être retiré à tout moment par l’Utilisateur.</br></p>

  <p><br>Conformément à la réglementation en vigueur, les données peuvent être transmises aux autorités compétentes sur requête et notamment aux organismes publics, exclusivement pour répondre aux obligations légales, les auxiliaires de justice, les officiers ministériels et les organismes chargés d’effectuer le recouvrement de créances.</br></p>

  <p><br>Compte tenu du caractère hautement confidentiel des données transmises par les clients dans le cadre de la signature d’un mandat de recherche, CREDICIM s’interdit toute cession même gratuite ou vente de ses données.</br></p>

  <p><br><strong>Durée de conservation des données collectées</strong></br></p>

  <p><br>Nous conservons vos données à caractère personnel pendant la durée strictement nécessaire aux finalités pour lesquelles elles ont été collectées et ce, conformément à la réglementation  applicable et sous réserve de l’exercice de vos droits. Nous conservons également certaines de vos données à caractère personnel, avec un accès restreint, afin de remplir nos obligations légales ou réglementaires ou à des fins statistiques et ce, pour les durées prévues par les recommandations de la CNIL ou par la loi.</br></p>

  <p><br><strong>Les cookies</strong></br></p>

  <p><br>Un cookie est un petit fichier texte enregistré par le navigateur de votre ordinateur, tablette ou téléphone qui nous permet de garder la trace de votre visite. Nous utilisons les cookies pour vous offrir une meilleure expérience de navigation, personnalisée et sécurisée.</br></p>

  <p><br>Si vous n’avez pas paramétré votre navigateur pour accepter ce type de fichier, vous n’aurez pas accès à l’ensemble des fonctionnalités du site.</br></p>

  <p><br>Certains cookies, sans incidence sur votre accès aux fonctionnalités du site, sont également collectés par nous ou nos annonceurs privilégiés.</br></p>

  <p><br>Les cookies statistiques permettent d’optimiser le site, de résoudre les bugs, d’améliorer la qualité de nos services et la performance des pages.</br></p>

  <p><br>Les cookies de personnalisation de publicités ou de contenus permettent d’afficher des publicités ou des contenus en fonction de vos centres d’intérêts.</br></p>

  <p><br>Vous pouvez aussi configurer votre logiciel de navigation de manière à ce que les Cookies soient acceptés ou rejetés, soit systématiquement, soit selon leur émetteur.</br></p>

  <p><br>Pour connaître les modalités applicables à la gestion des cookies, vous pouvez consulter le menu d’aide de votre navigateur ainsi que la rubrique « Vos traces » du site de la CNIL (Commission Nationale de l’Informatique & des Libertés).</br></p>

  <p><br>Enfin, vous pouvez gérer l’utilisation et l’exploitation de ces Cookies en vous rendant sur la plateforme de gestion des Cookies publicitaires proposée par les professionnels de la publicité : <a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a> et en suivant les instructions qui y sont données. Vous pourrez ainsi connaître les entreprises inscrites à cette plateforme, lesquelles vous offrent la possibilité de refuser ou accepter les Cookies utilisés par elles pour adapter à vos informations de navigation, les publicités susceptibles d’être affichées.</br></p>

  <p><br><strong>Vos droits</strong></br></p>

  <p><br>Conformément au Règlement (UE) 2016/679 Général relatif à la Protection des Données à caractère Personnel et à la Loi Informatique et Libertés du 6 janvier 1978 modifiée, et quel que soit le mode de collecte des données personnelles utilisé, vous disposez des droits suivants sur vos données : droit d’accès, droit de rectification, droit à l’effacement (droit à l’oubli), droit d’opposition, droit à la limitation du traitement, droit à la portabilité. Pour exercer ces droits, vous pouvez nous adresser un mail à <a href="mailto:demandecnil@credicim.fr">demandecnil@credicim.fr.</a></br></p>

  <p><br>Vous pouvez également disposer de droits complémentaires nationaux, comme de définir le sort de vos données personnelles après votre décès.</br></p>

  <p><br>CREDICIM ne fait pas de prospection commerciale par voie téléphonique. Cependant, si vous ne souhaitez pas faire l’objet de prospection commerciale par voie téléphonique, vous pouvez vous inscrire gratuitement sur la liste d’opposition au démarchage téléphonique BLOCTEL. Pour plus d’informations, consultez le site <a href="www.bloctel.gouv.fr">www.bloctel.gouv.fr</a> Sous réserve d’un manquement aux dispositions ci-dessous, l’Utilisateur a le droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) <a href="www.cnil.fr">www.cnil.fr</a> ou de l’Autorité de Contrôle à la Protection des Données de son lieu de résidence.</br></p>

  <p><br><strong>Sécurité</strong></br></p>

  <p><br>Compte tenu de l’évolution des technologies, des coûts de mise en œuvre, de la nature des données à protéger ainsi que des risques pour les droits et libertés des personnes, CREDICIM met en œuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir la confidentialité des données à caractère personnel collectées et traitées et un niveau de sécurité adapté au risque.</br></p>

  <p><br><strong>Modifications de la politique de données personnelles</strong></br></p>

  <p><br>En cas de modification de la présente Politique par CREDICIM, ou si des textes légaux ou règlementaires l’exigent, elle sera publiée sur nos sites et sera effective dès sa publication.</br></p>

  <p><br>Pour toute information sur la protection des données personnelles, l’Utilisateur peut également consulter le site de la Commission Nationale de l’Informatique et des Libertés (CNIL) <a href="www.cnil.fr">www.cnil.fr</a> ou de l’Autorité de Contrôle à la Protection des Données de son lieu de résidence.</br></p>
  </p>
</div>

