<div class="container confirmation-container">
  <h3 class="title-confirmation">Votre message a été envoyé</h3>
  <p class="check"><i class="fas fa-check-circle"></i></p>
  <div class=flex-button>
    <a class="btn btn-confirmation" href="/">Retour à l'accueil</a>
  </div>
</div>
