
.btn-home {
  color: #184F8D;
  border: none;
  padding: 15px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  &:hover {
    background-color: #184F8D;
    opacity: 0.8;
  }
}
