
.btn-home {
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  &:hover {
    background-color: #1BCB7F;
    opacity: 0.8;
  }
}
