
.btn-home {
  color: white;
  border: none;
  padding: 15px 24px;
  border-radius: 4px;
  background: #1773A4;
  transition: background 0.3s ease;
  &:hover {
    background-color: #1773A4;
    opacity: 0.8;
  }
}
