.card-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  padding: 50px;
  margin-bottom: 10px;
  font-size: 5rem;
  align-items:center;
  height: auto;
}

.card p {
  font-size:16px;
}
.card img {
    height: 100px;
    width: 100px;
}

.card-product {
  overflow: hidden;
  // height: 300px;
  // width: 1000px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-product h2 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-product .card-product-infos {
  padding: 16px;
  padding-left: 30px;
}

.map {
  padding: 0;

}

.map img {
  max-height: 300px;
  object-fit: cover;

}

.card-mention {
  background-color: #F4E9E1;
}
