.signup-form{
 //box-shadow: 0px 10px 30px rgb(0,0,0,.1);
 padding: 32px;
 background-color: white;
 border-radius: 12px;
 text-align: left;
 //width: 550px;
}

.body-form{
  background-image: asset-url("fondformulaire");
  background-size: cover;
  background-position: center;
  padding:20px 0px;
}
