.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  width: 200px;
}

.lien-navbar {
  color: #184F8D;
  text-decoration: none;
  font-size: 18px;
  padding-right: 30px;
  padding-top: 12px;
  outline: 0;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.lien-navbar {
  a {
    color: #184F8D;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}
